<mat-toolbar color="primary">Facturacion</mat-toolbar>
<mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile>
    <a routerLink="/facturacion/administraciones-face">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Administraciones FACe</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/facturacion/porcentaje-perdidas">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Porcentaje de perdidas</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/facturacion/precios-por-consumo">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Precios por consumo</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/facturacion/precios-potencia-atr">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Precios potencia y ATR</span>
    </a>
  </mat-grid-tile>
</mat-grid-list>
