<mat-toolbar color="primary">Contabilidad</mat-toolbar>
<mat-grid-list cols="3" rowHeight="4:1">
  <mat-grid-tile>
    <a routerLink="/contabilidad/bancos">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Bancos</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/contabilidad/transferencias">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Transferencias</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/contabilidad/configurar-bancos">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Configurar bancos</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/contabilidad/diamacon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Diamacon</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/contabilidad/impuesto-electrico">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Impuesto electrico</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/contabilidad/exportar-clientes">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Exportar clientes</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/contabilidad/tasa-municipal">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Tasa municipal</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/contabilidad/formateo-viesgo">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Formateo VIESGO</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/contabilidad/subida-de-cs">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Subida de Cs</span>
    </a>
  </mat-grid-tile>
</mat-grid-list>
