<mat-toolbar color="primary">Activations</mat-toolbar>
<mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile>
    <a routerLink="/activations/operations">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Operations</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/activations/xml-reader">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>XML Import</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/activations/tasks">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Tasks</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/activations/format">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Format for buying</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/activations/bills">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Check bills</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/activations/activations">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        home
      </mat-icon>
      <span>Activations</span>
    </a>
  </mat-grid-tile>
</mat-grid-list>
